{
	cert_issuer acme
	email mich.wilcz@gmail.com
}

api.gamesguru.pl {
	encode zstd gzip

	handle_path /static/* {
		file_server {
			root "/vol/web/static"
		}
	}

	handle_path /media/* {
		file_server {
			root "/vol/web/media"
		}
	}

	handle {
		reverse_proxy gamesguru:8000
	}
}
